In [34]:
from pymongo import MongoClient
from pprint import pprint

In [ ]:
client = MongoClient()
db=client.FCDS

employees = db.employees
students = db.students

In [ ]:
employee_details = {
'Name': 'Hagar Nassar',
'Address': 'Alexandria, Egypt',
'Age': '29'
 }

employees.insert_one(employee_details)

InsertOneResult(ObjectId('674ef7886082ba29f73a2d0b'), acknowledged=True)

In [ ]:
student_details = {
'Name': 'Mahmoud Elsherbiny',
'Address': 'Alexandria, Egypt',
'Age': '21'
 }

students.insert_one(student_details)

InsertOneResult(ObjectId('674ef7d66082ba29f73a2d0c'), acknowledged=True)

In [10]:
students.find_one({"Name":"Mahmoud Elsherbiny"})

{'_id': ObjectId('674ef7d66082ba29f73a2d0c'),
 'Name': 'Mahmoud Elsherbiny',
 'Address': 'Alexandria, Egypt',
 'Age': '21'}

In [11]:
students.update_one({"Name":"Mahmoud Elsherbiny"},
                    {
                        "$set":{
                            "Department":"Computing & Data Science"
                        }
                    })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [13]:
students_details=[
    {
        'Name': 'Omar Hassan',
        'Address': 'Alexandria, Egypt',
        'Age': '20',
        "Department":"Computing & Data Science",
        "ID":"22010222"
    },
    {
        'Name': 'Ali Alaa',
        'Address': 'Alexandria, Egypt',
        'Age': '20',
        "Department":"Computing & Data Science",
        "ID":"22010333"
    },
    {
        'Name': 'Moaz Ahmed',
        'Address': 'Alexandria, Egypt',
        'Age': '20',
        "Department":"Computing & Data Science",
        "ID":"22010444"
    },
    {
        'Name': 'Abdelrhamn Ahmed',
        'Address': 'Alexandria, Egypt',
        'Age': '20',
        "Department":"Computing & Data Science",
        "ID":"22010555"
    },
    {
        'Name': 'Mostafa Mahmoud',
        'Address': 'Alexandria, Egypt',
        'Age': '21',
        "Department":"Cyber Security",
        "ID":"22010666"
    }
]

students.insert_many(students_details)

InsertManyResult([ObjectId('674efb2d6082ba29f73a2d0d'), ObjectId('674efb2d6082ba29f73a2d0e'), ObjectId('674efb2d6082ba29f73a2d0f'), ObjectId('674efb2d6082ba29f73a2d10'), ObjectId('674efb2d6082ba29f73a2d11')], acknowledged=True)

In [15]:
employees_details=[
  {
    "Name": "Sarah Johnson",
    "Address": "123 Elm Street, Springfield, IL",
    "Age": 28
  },
  {
    "Name": "James Smith",
    "Address": "45 Maple Avenue, Boston, MA",
    "Age": 34
  },
  {
    "Name": "Emily Davis",
    "Address": "789 Oak Lane, Austin, TX",
    "Age": 23
  },
  {
    "Name": "Michael Brown",
    "Address": "56 Pine Drive, Seattle, WA",
    "Age": 40
  },
  {
    "Name": "Sophia Wilson",
    "Address": "98 Birch Street, Denver, CO",
    "Age": 29
  },
  {
    "Name": "William Taylor",
    "Address": "12 Willow Road, Miami, FL",
    "Age": 36
  },
  {
    "Name": "Olivia Anderson",
    "Address": "67 Cedar Circle, Nashville, TN",
    "Age": 25
  },
  {
    "Name": "Benjamin White",
    "Address": "34 Spruce Terrace, Chicago, IL",
    "Age": 41
  },
  {
    "Name": "Mia Martinez",
    "Address": "89 Redwood Court, San Diego, CA",
    "Age": 30
  }
]

employees.insert_many(employees_details)

InsertManyResult([ObjectId('674f03b36082ba29f73a2d1b'), ObjectId('674f03b36082ba29f73a2d1c'), ObjectId('674f03b36082ba29f73a2d1d'), ObjectId('674f03b36082ba29f73a2d1e'), ObjectId('674f03b36082ba29f73a2d1f'), ObjectId('674f03b36082ba29f73a2d20'), ObjectId('674f03b36082ba29f73a2d21'), ObjectId('674f03b36082ba29f73a2d22'), ObjectId('674f03b36082ba29f73a2d23')], acknowledged=True)

In [16]:
employees.delete_one({"Name":"Mia Martinez"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [18]:
print(employees.find_one({"Name":"Mia Martinez"}))

None

In [23]:
employees.delete_many({ "Age": { "$gt": 35 } })

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [24]:
print(employees.find_one({"Name": "Benjamin White"}))

None

In [ ]:
employees.update_many( { "Age": { "$lt": 30 } },
  { "$set":
    { "Salary": "3000$" } 
  })

UpdateResult({'n': 4, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [26]:
employees.update_one( { "Age": "29" },
  { "$set":
    { "Age": 29 ,
     "Salary":"4000$"}
      
  })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [35]:
# Fetch and print all documents with pretty format
for employee in employees.find():
    pprint(employee)

{'Address': 'Alexandria, Egypt',
 'Age': 29,
 'Name': 'Hagar Nassar',
 'Salary': '4000$',
 '_id': ObjectId('674ef7886082ba29f73a2d0b')}
{'Address': '123 Elm Street, Springfield, IL',
 'Age': 28,
 'Name': 'Sarah Johnson',
 'Salary': '3000$',
 '_id': ObjectId('674f03626082ba29f73a2d12')}
{'Address': '45 Maple Avenue, Boston, MA',
 'Age': 34,
 'Name': 'James Smith',
 '_id': ObjectId('674f03626082ba29f73a2d13')}
{'Address': '789 Oak Lane, Austin, TX',
 'Age': 23,
 'Name': 'Emily Davis',
 'Salary': '3000$',
 '_id': ObjectId('674f03626082ba29f73a2d14')}
{'Address': '98 Birch Street, Denver, CO',
 'Age': 29,
 'Name': 'Sophia Wilson',
 'Salary': '3000$',
 '_id': ObjectId('674f03626082ba29f73a2d16')}
{'Address': '67 Cedar Circle, Nashville, TN',
 'Age': 25,
 'Name': 'Olivia Anderson',
 'Salary': '3000$',
 '_id': ObjectId('674f03626082ba29f73a2d18')}

In [43]:
db.create_collection("Courses")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'FCDS'), 'Courses')

In [44]:
courses= db.Courses

In [45]:
courses_details =[{
                     "course_name":"linear Algebra",
                     "course_ID":10001
                   },
                   {
                       "course_name":"Probability I",
                       "course_ID":10002
                   },
                   {   "course_name":"Calculus",
                       "course_ID":10003
                   }]

courses.insert_many(courses_details)

InsertManyResult([ObjectId('674f14a26082ba29f73a2d27'), ObjectId('674f14a26082ba29f73a2d28'), ObjectId('674f14a26082ba29f73a2d29')], acknowledged=True)