In [27]:
from pymongo import MongoClient
from pprint import pprint

In [28]:
client = MongoClient()
db=client.FCDS

employees = db.employees
students = db.students

In [29]:
employee_details = {
'Name': 'Hagar Nassar',
'Address': 'Alexandria, Egypt',
'Age': 29,
'salary': "3000$"
 }

employees.insert_one(employee_details)

InsertOneResult(ObjectId('67502dc8d638e66818e7808d'), acknowledged=True)

In [30]:
student_details = {
'Name': 'Mahmoud Elsherbiny',
'Address': 'Alexandria, Egypt',
'Age': 21
 }

students.insert_one(student_details)

InsertOneResult(ObjectId('67502dc9d638e66818e7808e'), acknowledged=True)

In [31]:
students.find_one({"Name":"Mahmoud Elsherbiny"})

{'_id': ObjectId('67502dc9d638e66818e7808e'),
 'Name': 'Mahmoud Elsherbiny',
 'Address': 'Alexandria, Egypt',
 'Age': 21}

In [32]:
students.update_one({"Name":"Mahmoud Elsherbiny"},
                    {
                        "$set":{
                            "Department":"Computing & Data Science"
                        }
                    })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [33]:
students_details=[
    {
        'Name': 'Omar Hassan',
        'Address': 'Alexandria, Egypt',
        'Age': 20,
        "Department":"Computing & Data Science",
        "ID":"22010222"
    },
    {
        'Name': 'Ali Alaa',
        'Address': 'Alexandria, Egypt',
        'Age': 20,
        "Department":"Computing & Data Science",
        "ID":"22010333"
    },
    {
        'Name': 'Moaz Ahmed',
        'Address': 'Alexandria, Egypt',
        'Age': 20,
        "Department":"Computing & Data Science",
        "ID":"22010444"
    },
    {
        'Name': 'Abdelrhamn Ahmed',
        'Address': 'Alexandria, Egypt',
        'Age': 20,
        "Department":"Computing & Data Science",
        "ID":"22010555"
    },
    {
        'Name': 'Mostafa Mahmoud',
        'Address': 'Alexandria, Egypt',
        'Age': 21,
        "Department":"Cyber Security",
        "ID":"22010666"
    }
]

students.insert_many(students_details)

InsertManyResult([ObjectId('67502dced638e66818e7808f'), ObjectId('67502dced638e66818e78090'), ObjectId('67502dced638e66818e78091'), ObjectId('67502dced638e66818e78092'), ObjectId('67502dced638e66818e78093')], acknowledged=True)

In [34]:
employees_details=[
  {
    "Name": "Sarah Johnson",
    "Address": "123 Elm Street, Springfield, IL",
    "Age": 28,
    'salary': "3000$"
  },
  {
    "Name": "James Smith",
    "Address": "45 Maple Avenue, Boston, MA",
    "Age": 34,
    'salary': "3000$"
  },
  {
    "Name": "Emily Davis",
    "Address": "789 Oak Lane, Austin, TX",
    "Age": 23,
    'salary': "3000$"
  },
  {
    "Name": "Michael Brown",
    "Address": "56 Pine Drive, Seattle, WA",
    "Age": 40,
    'salary': "3000$"
  },
  {
    "Name": "Sophia Wilson",
    "Address": "98 Birch Street, Denver, CO",
    "Age": 29,
    'salary': "3000$"
  },
  {
    "Name": "William Taylor",
    "Address": "12 Willow Road, Miami, FL",
    "Age": 36,
    'salary': "3000$"
  },
  {
    "Name": "Olivia Anderson",
    "Address": "67 Cedar Circle, Nashville, TN",
    "Age": 25,
    'salary': "3000$"
  },
  {
    "Name": "Benjamin White",
    "Address": "34 Spruce Terrace, Chicago, IL",
    "Age": 41,
    'salary': "3000$"
  },
  {
    "Name": "Mia Martinez",
    "Address": "89 Redwood Court, San Diego, CA",
    "Age": 30,
    'salary': "3000$"
  }
]

employees.insert_many(employees_details)

InsertManyResult([ObjectId('67502dcfd638e66818e78094'), ObjectId('67502dcfd638e66818e78095'), ObjectId('67502dcfd638e66818e78096'), ObjectId('67502dcfd638e66818e78097'), ObjectId('67502dcfd638e66818e78098'), ObjectId('67502dcfd638e66818e78099'), ObjectId('67502dcfd638e66818e7809a'), ObjectId('67502dcfd638e66818e7809b'), ObjectId('67502dcfd638e66818e7809c')], acknowledged=True)

In [35]:
employees.delete_one({"Name":"Mia Martinez"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [36]:
print(employees.find_one({"Name":"Mia Martinez"}))

None

In [37]:
employees.delete_many({ "Age": { "$gt": 35 } })

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [38]:
print(employees.find_one({"Age": 41}))

None

In [39]:
employees.update_many( { "Age": { "$gt": 30 } },
  { "$set":
    { "salary": "4000$" } 
  })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [40]:
employees.update_one( { 'Name': 'Hagar Nassar' },
  { "$set":
    { 
     "salary":"5000$"}
      
  })

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [41]:
# Fetch and print all documents with pretty format
for employee in employees.find():
    pprint(employee)

{'Address': 'Alexandria, Egypt',
 'Age': 29,
 'Name': 'Hagar Nassar',
 '_id': ObjectId('67502dc8d638e66818e7808d'),
 'salary': '5000$'}
{'Address': '123 Elm Street, Springfield, IL',
 'Age': 28,
 'Name': 'Sarah Johnson',
 '_id': ObjectId('67502dcfd638e66818e78094'),
 'salary': '3000$'}
{'Address': '45 Maple Avenue, Boston, MA',
 'Age': 34,
 'Name': 'James Smith',
 '_id': ObjectId('67502dcfd638e66818e78095'),
 'salary': '4000$'}
{'Address': '789 Oak Lane, Austin, TX',
 'Age': 23,
 'Name': 'Emily Davis',
 '_id': ObjectId('67502dcfd638e66818e78096'),
 'salary': '3000$'}
{'Address': '98 Birch Street, Denver, CO',
 'Age': 29,
 'Name': 'Sophia Wilson',
 '_id': ObjectId('67502dcfd638e66818e78098'),
 'salary': '3000$'}
{'Address': '67 Cedar Circle, Nashville, TN',
 'Age': 25,
 'Name': 'Olivia Anderson',
 '_id': ObjectId('67502dcfd638e66818e7809a'),
 'salary': '3000$'}

In [42]:
db.create_collection("Courses")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'FCDS'), 'Courses')

In [43]:
courses= db.Courses

In [44]:
courses_details =[{
                     "course_name":"linear Algebra",
                     "course_ID":10001
                   },
                   {
                       "course_name":"Probability I",
                       "course_ID":10002
                   },
                   {   "course_name":"Calculus",
                       "course_ID":10003
                   }]

courses.insert_many(courses_details)

InsertManyResult([ObjectId('67502ddfd638e66818e7809d'), ObjectId('67502ddfd638e66818e7809e'), ObjectId('67502ddfd638e66818e7809f')], acknowledged=True)

In [45]:
db.drop_collection("Courses")

{'nIndexesWas': 1, 'ns': 'FCDS.Courses', 'ok': 1.0}